:root {
  --offset: 60px;
  --top-door1: 1vh;
  --top-door2: 28vh;
  --top-door3: 45vh;
}

@media (min-width: 576px) {
  :root {
    --offset: 150px;
    --top-door1: 5vh;
    --top-door2: 35vh;
    --top-door3: 50vh;
  }
}

@media (min-width: 768px) {
  :root {
    --top-door1: 8vh;
    --offset: 250px;
  }
}

.outer-door {
  position: relative;
}

.inner-door1 {
  position: absolute;
  --bg-color: black;
  --door-width: 150px;
  --door-height: 200px;
  top: var(--top-door1);
  left: calc(50% - 75px);
  --backround-pos: bottom center;
  --door-transform-origin: right;
  --door-transform-degree: 105deg;
  --bg-image: url(/images/3for2.png);
}

.inner-door2 {
  position: absolute;
  --bg-color: black;
  --door-width: 150px;
  --door-height: 150px;
  top: var(--top-door2);
  --backround-pos: center;
  --door-transform-origin: right;
  --door-transform-degree: 105deg;
  left: calc(calc(50% - 75px) + var(--offset));
  --bg-image: url(/images/whisky-kalender-scotch.png);
}

.inner-door3 {
  --bg-color: pink;
  position: absolute;
  top: var(--top-door3);
  left: calc(calc(50% - 75px) - var(--offset));
  --door-width: 200px;
  --door-height: 200px;
  --backround-pos: center;
  --door-transform-origin: left;
  --door-transform-degree: -105deg;
  --bg-image: url(/images/badbombcalender.jpg);
}

.backDoor {
  color: White;
  position: relative;
  background-color: #333;
  width: var(--door-width);
  height: var(--door-height);

  background-size: contain;
  background-repeat: no-repeat;
  background-color: var(--bg-color);
  background-image: var(--bg-image);
  background-position: var(--backround-pos);
}

.red-door {
  color: black;
  background-color: red;
}

.green-door {
  color: white;
  background-color: green;
}

.pink-door {
  color: blue;
  background-color: darksalmon;
}

.door {
  top: 0px;
  left: 0px;
  position: absolute;
  width: var(--door-width);
  height: var(--door-height);

  transform-origin: var(--door-transform-origin);
  transition: all 0.9s ease-in-out;
}

.door p {
  color: white;
  font-size: 120%;
  pointer-events: none;
  word-wrap: break-word;
  font-family: "Mountains of Christmas", cursive;
}

.backDoor > a > p {
  color: yellow;
  font-size: 75%;
  font-family: inherit;
  word-wrap: break-word;
}

.doorOpen {
  /*prespectiv creates the door open effect*/
  transform: perspective(1200px) translateZ(0px) translateX(0px) translateY(0px)
    rotateY(var(--door-transform-degree));
}

.fullscreen-bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -100;
}

.fullscreen-bg__video {
  position: absolute;
  top: 50%;
  left: 50%;
  width: auto;
  height: auto;
  min-width: 100%;
  min-height: 100%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

@media (max-width: 767px) {
  .fullscreen-bg {
    background: url("/images/background_phone.JPG") center center / cover
      no-repeat;
  }

  .fullscreen-bg__video {
    display: none;
  }
}
